body {
    font-family: "Montserrat";
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold";  
}

p {
    color: #8f8f8f;
}

.container-fluid {
    padding: 7% 15%;
}

.container-fluid.footer-section {
    padding: 5% 7%;
}

/* Headings Section */

.big-heading {
    font-family: "Montserrat-Black";
    font-size: 3rem;
    line-height: 1.5;
    padding-left: 5%;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* Sections */

.colored-section {
    background-color: #ff4c68;
    color: #fff;
}

.white-section {
    background-color: #fff;
}


/* Navigation bar */
.navbar-brand {
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 2.5rem;
}

.navbar {
    padding: 0 0 2rem 1.5rem;
    /* padding-bottom: 4.5rem; */
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: "Montserrat-Light";
    font-size: 1.2rem;
}

.download-button {
    margin: 3% 5% 3% 0;
}

/* Title Section */

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}

.title-image {
    width: 60%;
    transform: rotate(25deg);
    padding-left: 2rem;
    position: absolute;
    right: 30%;
    /* z-index: -1; */
}


.img-pos {
    position: relative;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}


.icon:hover {
    color: #ff4c68;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

/* Features Section */

#features {
    position: relative;
}

.features-box {
    padding: 5%;
}

.feature-title {
    font-size: 1.5rem;
}
#testimonials {
    background-color: #ef8172;
}

.testimonial-image {
    border-radius: 100%;
    margin: 20px;
    width: 10%;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    margin: 20px 20px 50px;
    width: 15%;
}


/* Pricing Section */

#pricing {
    padding: 100px;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-col {
    padding: 3% 2%;
}


@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
    }
}

.cta-icons {
    margin: 20px 10px;
}
